.App {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 10px solid tomato;

  &-post {
    width: 640px;
    margin-bottom: 15px;

  }

  &-title {
    font-size: 4rem;
    margin-bottom: 65px;
    color: coral;
  }

  &-titulo {
    color: cadetblue;
    margin-bottom: 25.3px;
    font-size: 2.5rem;
  }

  &-description {
    color: steelblue;
    line-height: 1.3rem;
  }

  
}
